{% extends 'base.html' %}

{% block script %}

{% endblock %}


{% block content %}
    <h1>Order #: {{ order.pk }}</h1>

    <p>Amount: {{ order.amount }}</p>
    <p>Service commission: {{ order.commission }}</p>
    <p>Currency: {{ order.verbose_currency }}</p>

    {% if order.status == 0 %}
        <p>From wallet: </p>

        <button> Connect wallet </button>
        <button> Submit </button>
        <button> Approve </button>

    {% else %}
        <p>Order: {{ order.status }}</p>
        {% if order.is_done %}
            <a href="#">Transaction: {{ order.transaction.hash }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
