asn1crypto==1.4.0
base58==2.1.1
bip32utils==0.3.post4
bit==0.7.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
click-aliases==1.0.1
coincurve==15.0.1
ecdsa==0.17.0
Flask==2.0.2
hdwallet==2.0.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mnemonic==0.20
pycparser==2.21
pysha3==1.0.2
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
tabulate==0.8.9
urllib3==1.26.7
Werkzeug==2.0.2
