aio-pika==6.8.1
aiohttp==3.8.1
aiormq==3.3.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.10
Coins==0.2.2
ecdsa==0.17.0
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
pamqp==2.3.0
six==1.16.0
yarl==1.7.2
aiofiles==0.8.0
asyncpg==0.25.0
python-dotenv==0.19.1
art
tronpy
celery