<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<button type="button" onclick="metamaskLogin()">
    Connect
</button>

<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
<script>
    function metamaskLogin() {
        try {
            window.ethereum.enable().then(function () {
                provider = new ethers.providers.Web3Provider(window.ethereum);
                provider.getNetwork().then(function (result) {
                    chainId = result['chainId'];

                    if (!(chainId in {{ chainIds }})) {
                        console.log('False')
                    }

                    provider.listAccounts().then((result) => {metamaskLoginBackend(
                        result[0], chainId
                    )});
                })
            })
        } catch {
            alert('Please install MetaMask for your browser.')
        }
    }

    function metamaskLoginBackend(accountAddress, chainId) {
        var form = document.createElement('form')
        form.action = '{{ url_for("connect", typ=typ.METAMASK) }}';
        form.method = 'POST';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'address';
        input.value = accountAddress;
        form.appendChild(input);

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'chain_id';
        input.value = chainId;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

</script>

</body>
</html>