require("@nomiclabs/hardhat-waffle");
require('@nomiclabs/hardhat-ethers');
require("@nomiclabs/hardhat-etherscan");
require('@openzeppelin/hardhat-upgrades');

// This is a sample Hardhat task. To learn how to create your own go to
// https://hardhat.org/guides/create-task.html
task("accounts", "Prints the list of accounts", async () => {
  const accounts = await ethers.getSigners();

  for (const account of accounts) {
    console.log(account.address);
  }
});

// You need to export an object to set up your config
// Go to https://hardhat.org/config/ to learn more

/**
 * @type import('hardhat/config').HardhatUserConfig
 */
module.exports = {
  defaultNetwork: "localhost",
  networks: {
    localhost: {
      url: "http://127.0.0.1:8545",
      gasPrice: 875000000,
      accounts: [
        '0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80',
        '0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d',
        '0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a',
        '0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6',
        '0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba',
        '0x92db14e403b83dfe3df233f83dfa3a0d7096f21ca9b0d6d6b8d88b2b4ec1564e',
        '0x4bbbf85ce3377467afe5d46f804f221813b2bb87f24d81f60f1fcdbf7cbf4356'
      ]
    },
    hardhat: {
    },
    testnet: {
      url: "https://eth.getblock.io/93d0373f-675c-45e3-8a2a-c54d590413e5/goerli/",
      chainId: 5,
      gasPrice: 20000000000,
      accounts: ['']
    },
    mainnet: {
      url: "https://bsc-dataseed.binance.org/",
      chainId: 56,
      gasPrice: 20000000000,
      accounts: [``]
    },
    bsc_testnet: {
      url: "https://bsc.getblock.io/93d0373f-675c-45e3-8a2a-c54d590413e5/testnet/",
      chainId: 97,
      gasPrice: 20000000000,
      accounts: [``]
    }
  },
  etherscan: {
    apiKey: ""
  },
  solidity: {
    compilers: [
      {
        version: "0.8.9",
        settings: {
          viaIR: true,
          optimizer: {
            enabled: true
          }
        }
      },
      {
        version: "0.4.18",
        settings: {
          viaIR: true,
          optimizer: {
            enabled: true
          }
        }
      },
      {
        version: "0.6.4",
        settings: {
          viaIR: true,
          optimizer: {
            enabled: true
          }
        }
      }
    ]
  },
  paths: {
    sources: "./contracts",
    tests: "./test",
    cache: "./cache",
    artifacts: "./artifacts"
  },
  mocha: {
    timeout: 20000
  }
};
